@model IEnumerable<SSD_Major_Web_Project.Models.ProductSku>

@{
    ViewData["Title"] = "Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Favorite</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkSkuId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PkSkuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkSkuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkSkuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkSkuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
