@model IEnumerable<SSD_Major_Web_Project.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-wrapper">

    <div class="product-title"> MEN'S Clothes</div>

    <div class="search-bar">
        <div class="search-icon-wrapper">
            <img src="~/images/icon/icon-search.svg" class="search-icon"></img>
        </div>
        <div class="search-input-container">
            <div class="search-input-wrapper">
                <input type="text" placeholder="Search products" class="search-input"></input>
            </div>
        </div>
    </div>

    <div class="product-container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            |
                            <a asp-action="Details" asp-route-id="@item.PkProductId">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @* <p>
        <a asp-action="Create">Create New</a>
    </p> *@
    
</div>