@model PaginatedList<SSD_Major_Web_Project.ViewModels.OrderVM>

@{
    ViewData["Title"] = "AdminOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="admin-orders" class="active">
    <div class="side-bar">
        <h4>Order Status</h4>
        <ul>
            <li onClick="toggleSummary(this,'','All Orders')">All</li>
            <li onClick="toggleSummary(this,'Pending','Pending Orders')">Pending Payment</li>
            <li onClick="toggleSummary(this,'Paid','Open Orders')" class="active">Open</li>
            <li onClick="toggleSummary(this,'Shipped', 'Shipped Orders')">Shipped</li>
            <li onClick="toggleSummary(this,'Delivered','Delivered Orders')">Delivered</li>
            <li onClick="toggleSummary(this,'Cancelled','Cancelled Orders')">Cancelled</li>


        </ul>
    </div>
    <div>
        <div id="order-sheet" class="summary">
            <input id="sheet-type" value="Paid" hidden/>
            <h1 id="orders-title">Open Orders</h1>
            <div>
                <input id="search-term" placeholder="search text" />
                <button class="btn" onClick="getFilteredAndPaginatedOrders(@Model.PageIndex)">Filter</button>
            </div>
            <span id="message"></span>
            <div id="orders-data">
                @await Html.PartialAsync("../Shared/_OrderSummaryPartial", Model)
            </div>
        </div>
    </div>
</div>


@* Order detail Page Component*@
<div id="admin-order-detail">
    <button class="btn btn-secondary" onclick="closeOrderDetail()">Back</button>
    <table>
        <tr>
            <td>Order Id:</td>
            <td class="id"></td>
        </tr>
        <tr>
            <td>Order Date: </td>
            <td class="date"></td>
        </tr>
        <tr>
            <td>Status: </td>
            <td class="status"></td>
        </tr>
        <tr>
            <td>Buyer: </td>
            <td class="buyer"></td>
        </tr>
        <tr>
            <td>Buyer Note: </td>
            <td class="buyernote"></td>
        </tr>
        <tr>
            <td>Items: </td>
            <td class="items"></td>
        </tr>
        <tr>
            <td>Discount: </td>
            <td class="discount"></td>
        </tr>
        <tr>
            <td>Total: </td>
            <td class="total-price"></td>
        </tr>
    </table>
</div>

<script>
    const toggleSummary = (tabClicked, sheetType, sheetTitle) => {
        //toggle tabs
        $("#admin-orders li").removeClass("active");
        $(tabClicked).addClass("active");

        //update hidden sheet-type variable
        $("#sheet-type").val(sheetType);

        //toggle order summary sheet
        const url = '@Url.Action("GetFilteredOrders", "Admin")';
        $.ajax({
            type: "GET",
            url: url,
            data: { "orderStatus": sheetType },
            success: function (data) {
                $("#orders-title").html(sheetTitle);
                $("#orders-data").html(data);
            }
        });
    }

    const getFilteredAndPaginatedOrders = (pageIndex) => {
        const searchTerm = $("#search-term").val();
        const sheetType = $("#sheet-type").val();
        const url = '@Url.Action("GetFilteredOrders", "Admin")';
        $.ajax({
            type: "GET",
            url: url,
            data: { "orderStatus": sheetType, "searchTerm": searchTerm, "pageIndex": pageIndex },
            success: function (data) {
                $("#orders-data").html(data);
            }
        });
    }

    const dispatchOrder =  (orderId) => {
        const url = '@Url.Action("DispatchOrder", "Admin")';
        $.ajax({
            type: "POST",
            url: url,
            data: { orderId },
            success:  function(data) {
                if (data.success) {
                    $("[id^=" + orderId + "]").addClass('dispatched')

                    //update button class, text and order status text
                    $("[id^=" + orderId + "] button:contains(Dispatch)").addClass('deactivated').html('Dispatched')
                    $("[id^=" + orderId + "] td.order-status").html("Shipped");
                } else {
                    $("#message").html(data.error)
                }
            },
            error: function (request, status, error) {
                $("#message").html(error)
            }
        });
    }

    const getOrderDetail = (order) => {
        $("#admin-order-detail td.id").html(order.orderId);
        $("#admin-order-detail td.date").html(order.orderDate);
        $("#admin-order-detail td.status").html(order.orderStatus);
        $("#admin-order-detail td.buyer").html(order.contact.firstName + " " + order.contact.lastName);
        $("#admin-order-detail td.buyernote").html(order.buyerNote);
        $("#admin-order-detail td.id").html(order.orderrId);
        const items = order.orderDetails.map(od => {
            console.log('adminOrder detail images:', od.fkSku.fkProduct.Images);

            const images = od.fkSku.fkProduct.Images;
            let listingImage = "";
            if (images != null)
            {
                var blob = new Blob(images[0].data);
                var imageUrl = URL.createObjectURL(blob);
                listingImage = `<img src=${imgeURl} alt=${images[0].AltText}/>`
            }

            return `<div class='item'>
   
                        <div>
                        ${listingImage}
                        </div>
                        <div>
                            <div>${od.fkSku.fkProduct.name}</div>
                            <div>
                                <span>Size: ${od.fkSku.size}</span>
                                    <span>Price: $${od.unitPrice}</span>
                                <span>Quantity: ${od.quantity}</span>
                            </div>
                        </div>
                    </div>`;

        });
        $("#admin-order-detail td.items").html(items);
        //also show discount detail if there is one
        if (order.discount) {
            const discountValue = order.discount.discountValue;
            const discountContent = order.discount.discountType.toLowerCase() == 'percent' ? `${discountValue}% off` : `-$${discountValue}`
            $("#admin-order-detail td.discount").html(`${order.discount.pkDiscountCode} (${discountContent})`)
        } else {
            $("#admin-order-detail td.discount").html("None");
        }
        $("#admin-order-detail td.total-price").html(`$${order.orderTotal}`);

        //toggle on detail page
        $("#admin-orders").removeClass("active");
        $("#admin-order-detail").addClass("active");
    }

    const closeOrderDetail = () => {
        $("#admin-order-detail").removeClass("active");
        $("#admin-orders").addClass("active");
    }

    const cancelOrder = (orderId) => {
        const url = '@Url.Action("CancelOrder", "Admin")';
        $.ajax({
            type: "POST",
            url: url,
            data: { orderId },
            success: function (data) {
                if (data.success) {
                    $("[id^=" + orderId + "]").addClass('cancelled');

                    //update button class, text and order status text
                    $("[id^=" + orderId + "] button:contains(Cancel)").addClass('deactivated').html('Cancelled');
                    $("[id^=" + orderId + "] td.order-status").html("Cancelled");
                } else {
                    $("#message").html(data.error);
                }
            },
            error: function (request, status, error) {
                $("#message").html(error);
            }
        });
    }

</script>

