@model PaginatedList<SSD_Major_Web_Project.ViewModels.DiscountVM>

@{
    ViewData["Title"] = "AllDiscounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="admin-discount-main">

<div id="discount-list" class="table-responsive">
    <p class="message">@ViewBag.Message</p>
        <input id="search-term" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="search product name" />
        <input name="pageIndex" value="@Model.PageIndex" hidden />
        <button class="btn btn-secondary" onClick="getFilteredAndPaginatedDiscounts(@Model.PageIndex)">Filter</button>
        <div>
            <input id="show-inactive" type="checkbox" checked="@ViewBag.ShowInactive" onChange="getFilteredAndPaginatedDiscounts(1)" />
            <label>Show inactive listing</label>
        </div>
        <button class="btn add-btn btn-primary" onclick="location.href='@Url.Action("CreateDiscount","Admin")'">Add Discount</button>
    <table class="table transaction-table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Discount Code</th>
                <th>Type</th>
                <th>Value</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.PkDiscountCode)</td>
                    <td> @Html.DisplayFor(modelItem => item.DiscountType)</td>
                    <td> @Html.DisplayFor(modelItem => item.DiscountValue)</td>
                    <td> @Html.DisplayName(item.IsActive == true? "Active" : "Inactive")</td>
                    <td>
                        <a asp-action="DeactivateDiscount" asp-route-discountCode="@item.PkDiscountCode">
                            <button class="btn btn-danger">Deactivate</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav id="all-products-pagination">
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link"
                   onClick="getFilteredAndPaginatedDiscounts(@(Model.PageIndex - 1))">
                Previous
            </a>
        </li>
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link"
                   onClick="getFilteredAndPaginatedDiscounts(@(Model.PageIndex + 1))">
                Next
            </a>
        </li>
    </ul>
</nav>
</div>

<script>
    const getFilteredAndPaginatedDiscounts = (pageIndex) => {
        const searchTerm = $("#search-term").val();
        const showInactive = $("#show-inactive").prop('checked')
        const url = '@Url.Action("AllDiscounts", "Admin")';
        $.ajax({
            type: "GET",
            url: url,
            data: { "searchTerm": searchTerm, "pageIndex": pageIndex, "showInactive": showInactive },
            success: function (data) {
                const parser = new DOMParser();
                const newDoc = parser.parseFromString(data, 'text/html');
                $('#admin-discount-main')[0].innerHTML = newDoc.getElementById("admin-discount-main").innerHTML;
            }
        });
    }
</script>       