@model List<SSD_Major_Web_Project.ViewModels.AdminProductVM>

@{
    ViewData["Title"] = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="product-list" class="table-responsive">
    <p class="message">@ViewBag.Message</p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("CreateProduct","Admin")'">Add Listing</button>
    <table class="table transaction-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.PkProductId)</td>
                    <td class="name"> @Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="tight"> $@item.Price</td>
                    <td class="tight"> @Html.DisplayName(item.IsActive == true ? "Active" : "Inactive")</td>
                    <td class="tight">
                        <a asp-action="EditProduct" asp-route-productId="@item.PkProductId">
                            <button class="btn btn-secondary">Edit</button>
                        </a>
                    </td>
                    <td class="tight">
                        <a asp-action="DeactivateProduct" asp-route-productId="@item.PkProductId">
                            <button class="btn btn-danger">Deactivate</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
