@model SSD_Major_Web_Project.ViewModels.CreateProductVM

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(ViewBag.Create ? "Create a New" : "Edit the") Product</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form id="create-product-grid" asp-action="@(ViewBag.Create?"CreateProduct":"EditProduct")" method="post" enctype="multipart/form-data">
    <div>
        <div class="form-group">
            <label asp-for="Name">Product Name: </label>
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Images">Image</label>
            <input type="file" asp-for="Images" accept="image/*" multiple class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
    </div>
    <div>
        <div class="form-group">
            <div>
            <label asp-for="Sizes">Sizes</label>
            <div class="size-grid">
                <span>S</span><input name="Sizes" type="checkbox" value="S"  @(Model.Sizes != null && Model.Sizes.Contains("S") ? "checked" : "") />
                    <span>M</span><input name="Sizes" type="checkbox" value="M" @(Model.Sizes != null && Model.Sizes.Contains("M") ? "checked" : "") />
                    <span>L</span><input name="Sizes" type="checkbox" value="L" @(Model.Sizes != null && Model.Sizes.Contains("L") ? "checked" : "") />
            </div>
            </div>
            <span asp-validation-for="Sizes" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <div class="price">
                <input asp-for="Price" type="number" step="0.01"  /> <span> CAD</span>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input asp-for="PkProductId" value="@Model.PkProductId"hidden />
        <input asp-for="IsActive" value="@Model.IsActive" hidden />
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-secondary" asp-action="AllProducts">Cancel</button>
        </div>
    </div>
</form>
