@model List<SSD_Major_Web_Project.ViewModels.DiscountVM>

@{
    ViewData["Title"] = "GetAllDiscounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="discount-list" class="table-responsive">
    <p class="message">@ViewBag.Message</p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("CreateDiscount","Admin")'">Add Discount</button>
    <table class="table transaction-table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Discount Code</th>
                <th>Type</th>
                <th>Value</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.PkDiscountCode)</td>
                    <td> @Html.DisplayFor(modelItem => item.DiscountType)</td>
                    <td> @Html.DisplayFor(modelItem => item.DiscountValue)</td>
                    <td> @Html.DisplayName(item.IsActive == "1" ? "Active" : "Inactive")</td>
                    <td>
                        <a asp-action="DeactivateDiscount" asp-route-discountCode="@item.PkDiscountCode">
                            <button class="btn btn-danger">Deactivate</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
