@model SSD_Major_Web_Project.ViewModels.CheckoutVM

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

<div class="checkout-container">
    <div class="row">
        @* add viewBag message *@
        @if (ViewBag.Message != null)
        {
            <div class="alert" role="alert">
                @ViewBag.Message
            </div>
        }
        <h2>Checkout</h2>
        <div class="col-md-5">
            <div class="shipping-address-title">
                <h3>Shipping Address</h3>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div>
                        <p class="remind-to-log-in">
                            Already have an account?<br />
                            <a href="/Identity/Account/Login?returnUrl=/Shop/Index">Login</a> to use your default shipping address
                        </p>
                    </div>
                }
                else
                {
                    @if (Model.UserAddresses != null && Model.UserAddresses.Any())
                    {
                        <div>
                            <p style="font-size:0.8rem;">Use default profile address below:</p>
                            @foreach (var address in Model.UserAddresses)
                            {
                                <div class="d-flex" style="margin-bottom:1rem;">
                                    <div>
                                        <input type="radio" name="selectedAddress" value="@address.PkContactId" onchange="selectAddress('@address.PkContactId', '@address.FirstName', '@address.LastName', '@address.Address', '@address.Address2', '@address.City', '@address.Province', '@address.PostalCode', '@address.Country', '@address.PhoneNumber')" />
                                    </div>
                                    <div>
                                        <label style="margin-left:1rem; font-size:0.8rem;">
                                            @address.FirstName @address.LastName
                                            <br />@address.Address
                                            @if (!string.IsNullOrEmpty(address.Address2))
                                            {
                                                <br />

                                                @address.Address2
                                            }
                                            <br />@address.City, @address.Province
                                            <br />@address.PostalCode
                                            <br />@address.Country
                                            <br />@address.PhoneNumber
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                }

            </div>
            <div class="shipping-address">
                <form method="post" action="/Shop/ProceedPayment">
                    <input type="hidden" id="itemPrice" name="itemPrice" value="@Model.ShoppingCart.GrandTotal" />
                    @foreach (var item in Model.ShoppingCart.Products)
                    {
                        <input type="hidden" name="Products" value="@item" />
                        <input type="hidden" name="ShoppingCart.Subtotal" value="@Model.ShoppingCart.Subtotal" />
                        <input type="hidden" name="ShoppingCart.ShippingFee" value="@Model.ShoppingCart.ShippingFee" />
                        <input type="hidden" name="ShoppingCart.Taxes" value="@Model.ShoppingCart.Taxes" />
                        <input type="hidden" name="ShoppingCart.GrandTotal" value="@Model.ShoppingCart.GrandTotal" />

                        <input type="hidden" name="ShoppingCart.CurrencySymbol" value="@Model.ShoppingCart.CurrencySymbol" />
                        <input type="hidden" name="ShoppingCart.Currency" value="@Model.ShoppingCart.Currency" />

                    }
                    <input type="hidden" name="Order.OrderDate" value="@Model.Order.OrderDate" />
                    <input type="hidden" name="Order.OrderStatus" value="@Model.Order.OrderStatus" />
                    <input type="hidden" name="Order.OrderDetails" value="@Model.Order.OrderDetails" />
                 
                    <input type="hidden" name="Order.OrderId" value="@Model.Order.OrderId" />


                    <div class="address-line">
                        <input type="text" name="Order.Contact.FirstName" placeholder="First Name" />
                        <br />
                         <span class="validation-error" asp-validation-for="Order.Contact.FirstName"></span>

                        <input type="text" name="Order.Contact.LastName" placeholder="Last Name" />
                            <br />
                         <span class="validation-error" asp-validation-for="Order.Contact.LastName"></span>

                    </div>
                    <div class="address-line">
                        <input type="text" name="Order.Contact.Address" placeholder="Address" />
                            <br />
                         <span class="validation-error" asp-validation-for="Order.Contact.Address"></span>
                        <input type="text" name="Order.Contact.Address2" placeholder="Address 2" />
                        <br />
                    </div>
                    <div class="address-line">
                        <input type="text" name="Order.Contact.City" placeholder="City" />
                            <br />
                            <span class="validation-error" asp-validation-for="Order.Contact.City"></span>
                        <input type="text" name="Order.Contact.Province" placeholder="Province" />
                            <br />
                            <span class="validation-error" asp-validation-for="Order.Contact.Province"></span>
                    </div>
                    <div class="address-line">
                    <input type="text" name="Order.Contact.PostalCode" placeholder="Postal Code" />
                        <br />
                        <span class="validation-error" asp-validation-for="Order.Contact.PostalCode"></span>
                    <input type="text" name="Order.Contact.Country" placeholder="Country" />
                        <br />
                        <span class="validation-error" asp-validation-for="Order.Contact.Country"></span>
                    </div>
                    <div class="address-line">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <input type="text" name="DeliveryContactEmail" value="@User.Identity.Name" readonly="readonly" style="background-color: #f0f0f0; cursor: not-allowed;" />
                        }
                        else
                        {
                            <input type="text" name="DeliveryContactEmail" placeholder="Email" />
                            <br />
                            <span class="validation-error" asp-validation-for="DeliveryContactEmail"></span>
                        }
                        <br/>
                    <input type="text" name="Order.Contact.PhoneNumber" placeholder="Phone Number" />
                        <br />
                    <span class="validation-error" asp-validation-for="Order.Contact.PhoneNumber"></span>
                    </div>
                    <div class="address-line-buyer-note">
<textarea name="Order.Contact.BuyerNote" placeholder="Special Instructions" rows="4"></textarea>
                    </div>

                    @for (int i = 0; i < Model.ShoppingCart.ShoppingCartItems.Count; i++)
                    {
                        var item = Model.ShoppingCart.ShoppingCartItems[i];
                        <input name="ShoppingCart.ShoppingCartItems[@i].SkuId" value="@item.SkuId" type="hidden" />
                        <input name="ShoppingCart.ShoppingCartItems[@i].Quantity" value="@item.Quantity" type="hidden" />
                    }
                    

        @*             @foreach(var item in Model.ShoppingCart.Products)
                    {
                        <input name="ShoppingCart.Products" value="@item" hidden/>

          
                    } *@
                    
      
                    <input name="ShoppingCart.CouponCode" value="@Model.ShoppingCart.CouponCode" hidden/>
                    <input name="Order.Discount" value="@Model.Order.Discount" hidden />

      


                    <button type="submit" class="btn btn-primary">Proceed to Payment Page</button>
                </form>

            </div>
        </div>

        <div class="col-md-6 col-md-offset-2">
                <dt class="col-sm-3" style="margin-top:1rem">
                    @Html.DisplayNameFor(model => model.ShoppingCart.Subtotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.Subtotal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.ShippingFee)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.ShippingFee)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.Taxes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.Taxes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.GrandTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.CurrencySymbol)@Model.ShoppingCart.GrandTotal
                </dd>
                <div>
              
                </div>
            </div>
      
    </div>

<script>
    function selectAddress(id, firstName, lastName, address, address2, city, province, postalCode, country, phoneNumber) {
        // Populate the form fields with the selected address
        $('input[name="Order.Contact.FirstName"]').val(firstName);
        $('input[name="Order.Contact.LastName"]').val(lastName);
        $('input[name="Order.Contact.Address"]').val(address);
        $('input[name="Order.Contact.Address2"]').val(address2);
        $('input[name="Order.Contact.City"]').val(city);
        $('input[name="Order.Contact.Province"]').val(province);
        $('input[name="Order.Contact.PostalCode"]').val(postalCode);
        $('input[name="Order.Contact.Country"]').val(country);
        $('input[name="Order.Contact.PhoneNumber"]').val(phoneNumber);
    }
</script>
