@model SSD_Major_Web_Project.ViewModels.CheckoutVM

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="checkout-container">
    <div class="row">
        <h2>CHECKOUT</h2>
        <div class="col-md-4">
            <div class="shipping-address-title">
                <h3>Shipping Address</h3>
            </div>
            <div class="shipping-address">
                <div class="name">
                    @* ask user to input firstname *@
                    <input type="text" placeholder="First Name" asp-for="Order.Contact.FirstName" />
                    <span asp-validation-for="Order.Contact.FirstName" class="text-danger"></span>
                    @* ask user to input lastname *@
                    <input type="text" placeholder="Last Name" asp-for="Order.Contact.LastName" />
                    <span asp-validation-for="Order.Contact.LastName" class="text-danger"></span>
                </div>
                <div class="address-line">
                    @* ask user to input address *@
                    <input type="text" placeholder="Address" asp-for="Order.Contact.Address" />
                    <span asp-validation-for="Order.Contact.Address" class="text-danger"></span>
                    @* ask user to input Apt No. (address 2) *@
                    <input type="text" placeholder="Apt No." asp-for="Order.Contact.Address2" />
                    <span asp-validation-for="Order.Contact.Address2" class="text-danger"></span>
                </div>
                <div class="address-line">
                    @* ask user to input city *@
                    <input type="text" placeholder="City" asp-for="Order.Contact.City" />
                    <span asp-validation-for="Order.Contact.City" class="text-danger"></span>
                    @* ask user to input province *@
                    <input type="text" placeholder="Province" asp-for="Order.Contact.Province" />
                    <span asp-validation-for="Order.Contact.Province" class="text-danger"></span>
                </div>
                <div class="address-line">
                    @* ask user to input postal code *@
                    <input type="text" placeholder="Postal Code" asp-for="Order.Contact.PostalCode" />
                    <span asp-validation-for="Order.Contact.PostalCode" class="text-danger"></span>
                    @* ask user to input country *@
                    <input type="text" placeholder="Country" asp-for="Order.Contact.Country" />
                    <span asp-validation-for="Order.Contact.Country" class="text-danger"></span>
                </div>
                <div class="contact-info-line">
                    @* ask user to input email *@
                        <input type="text" placeholder="Email" asp-for="@Model.DeliveryContactEmail" />
                        <span asp-validation-for="@Model.DeliveryContactEmail" class="text-danger"></span>
                    @* ask user to input phone number *@
                    <input type="text" placeholder="Phone Number" asp-for="Order.Contact.PhoneNumber" />
                    <span asp-validation-for="Order.Contact.PhoneNumber" class="text-danger"></span>
                </div>

            </div>
        </div>

            <div class="col-md-6 col-md-offset-2">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShoppingCart.Subtotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.Subtotal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.ShippingFee)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.ShippingFee)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.Taxes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.Taxes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoppingCart.GrandTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoppingCart.CurrencySymbol)@Model.ShoppingCart.GrandTotal
                </dd>
                <div>
                <form id="RequestOrderConfirmation" asp-action="ProceedPayment" asp-controller="Shop" method="post">
                    <input type="hidden" id="itemPrice" name="itemPrice" value="@Model.ShoppingCart.GrandTotal" />
                    @foreach (var item in Model.ShoppingCart.Products)
                    {
                        <input type="hidden" name="Products" value="@item" />
                        <input type="hidden" name="ShoppingCart.Subtotal" value="@Model.ShoppingCart.Subtotal" />
                        <input type="hidden" name="ShoppingCart.ShippingFee" value="@Model.ShoppingCart.ShippingFee" />
                        <input type="hidden" name="ShoppingCart.Taxes" value="@Model.ShoppingCart.Taxes" />
                        <input type="hidden" name="ShoppingCart.GrandTotal" value="@Model.ShoppingCart.GrandTotal" />

                    }
           

                    <input type="hidden" name="ShoppingCart.CurrencySymbol" value="@Model.ShoppingCart.CurrencySymbol" />
                    <input type="hidden" name="Order.Contact.FirstName" value="@Model.Order.Contact.FirstName" />
                    <input type="hidden" name="Order.Contact.LastName" value="@Model.Order.Contact.LastName" />
                    <input type="hidden" name="Order.Contact.Address" value="@Model.Order.Contact.Address" />
                    <input type="hidden" name="Order.Contact.Address2" value="@Model.Order.Contact.Address2" />
                    <input type="hidden" name="Order.Contact.City" value="@Model.Order.Contact.City" />
                    <input type="hidden" name="Order.Contact.Province" value="@Model.Order.Contact.Province" />
                    <input type="hidden" name="Order.Contact.PostalCode" value="@Model.Order.Contact.PostalCode" />
                    <input type="hidden" name="Order.Contact.Country" value="@Model.Order.Contact.Country" />
                    <input type="hidden" name="Order.Contact.PhoneNumber" value="@Model.Order.Contact.PhoneNumber" />
                    <input type="hidden" name="DeliveryContactEmail" value="@Model.DeliveryContactEmail" />


                    <button type="submit" class="btn btn-primary">Proceed to Payment Page</button>
                    </form>
                </div>
            </div>
      
    </div>


