@* @model SSD_Major_Web_Project.ViewModels.OrderConfirmationVM
 *@
@{
    ViewData["Title"] = "Payment Confirmation";
}

<h2>Paypal Detail</h2>
<div>
    <p></p>
    <p>Transaction ID: @Model.TransactionId</p>
    <p>Amount Paid: @Model.Amount</p>
    <p>Payer Name: @Model.PayerName</p>
</div>


@* <h2>Payment Confirmation for customer</h2>
<div class="order-confirm">
    <p>Your order is confirmed!</p>

    <p>Order ID: @Model.CheckoutVM.Order.OrderId</p>
    <p>Order Status: @Model.CheckoutVM.Order.OrderStatus</p>
    <p>Delivery Status: To be confirmed.</p>
    <p>Tracking Number: 123456789</p>
    <p>Total Amount Paid: @Model.Amount</p>
    <p>Transaction ID: @Model.TransactionId</p> 
</div> *@



