@model SSD_Major_Web_Project.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shoppingcart-container">

    <div class="row">
        <h2>SHOPPING CART</h2>
        <div class="col-md-4">
            <div class="shopping-cart">
                <h4>SHOPPING CART</h4>
                @*                 @foreach (var item in Model.Products)
                {
                <div class="product">
                @if (item.Image != null && item.Image.Length > 0)
                {
                <img src="data:image/jpeg;base64,
                @Convert.ToBase64String(@item.Image)"
                alt="Model.Name"
                class="product-image" />
                }

                <div class="product-details">
                <h5>@item.Name</h5>
                <p>@item.Price</p>
                </div>
                </div>
                } *@
            </div>
            <div class="my-wishlist">
<<<<<<< Updated upstream
               <h2>MY WISHLIST </h2>
=======
                <h2>MY WISHLIST </h2>
>>>>>>> Stashed changes
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2">
            <div class="coupon-code">
                <input type="text" placeholder="Coupon Code" />
                <input type="submit" value="Apply Code" class="btn btn-primary" />
            </div>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subtotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShippingFee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShippingFee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Taxes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taxes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrandTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrandTotal)

            </dd>
            <div>
                <form asp-action="Checkout" asp-controller="Shop" method="post">
                    <input type="hidden" asp-for="@Model.UserId" />
                    @foreach (var item in Model.Products)
                    {
                        <input type="hidden" name="Products" value="@item" />
                    }
                    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>

