@model SSD_Major_Web_Project.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="shopping-cart">
        <h4>SHOPPING CART</h4>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Products)
            </dt>
        </div>
        <div class="my-wishlist">
           <h4>MY WISHLIST </h4>
        </div>
    </div>

     <div class="col-md-6 col-md-offset-2">

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subtotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShippingFee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShippingFee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Taxes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taxes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrandTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrandTotal)
            </dd>
            <div>
                @using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.TempOrderId)

                    <input type="submit" value="Proceed to Checkout" />
                }
            </div>
    
    </div>
</div>

