@model SSD_Major_Web_Project.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Details</h1>

<div id="customer-profile-grid">
    <div class="profile-line flex-column">
        <label for="firstName">First Name</label>
        <p>@Model.DefaultContact.FirstName</p>
    </div>
    <div class="profile-line flex-column">
        <label for="lastName">Last Name</label>
        <p>@Model.DefaultContact.LastName</p>
    </div>
    <div class="profile-line flex-column">
        <label for="address">Address</label>
        <p>@Model.DefaultContact.Address</p>
    </div>
    <div class="profile-line flex-column">
        <label for="unitNumber">Unit Number (Optional)</label>
        <p>@Model.DefaultContact.Address2</p>
    </div>
    <div class="profile-line flex-column">
        <label for="city">City</label>
        <p>@Model.DefaultContact.City</p>
    </div>
    <div class="profile-line flex-column">
        <label for="province">Province</label>
        <p>@Model.DefaultContact.Province</p>
    </div>
    <div class="profile-line flex-column">
        <label for="postalCode">Postal Code</label>
        <p>@Model.DefaultContact.PostalCode</p>
    </div>
    <div class="profile-line flex-column">
        <label for="country">Country</label>
        <p>@Model.DefaultContact.Country</p>
    </div>
    <div class="profile-line flex-column">
        <label for="email">Email</label>
        <p>@User.Identity.Name</p>
    </div>
    <div class="profile-line flex-column">
        <label for="phoneNumber">Phone Number</label>
        <p>@Model.DefaultContact.PhoneNumber</p>
    </div>
</div>


@if (Model.DefaultContact == null)
{
    <a asp-action="CreateContact">
        <button class="btn btn-secondary">Create Contact</button>
    </a>
}
else {
    <a asp-action="EditProfile" asp-route-contactId="@Model.DefaultContact.PkContactId">
    <button class="btn btn-secondary">Edit</button>
    </a>
}