@model ICollection<SSD_Major_Web_Project.ViewModels.OrderVM>
<div class="table-responsive">
    <table class="table transaction-table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Buyer Name</th>
                <th>Product</th>
                <th>Size</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Order Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //first Line that lists eveything out
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.OrderId)</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderStatus)</td>
                    <td>@Html.DisplayName($"{item.Customer.FirstName} {item.Customer.LastName}")</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderDetails[0].FkSku.FKproduct.Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderDetails[0].FkSku.Size)</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderDetails[0].FkSku.FKproduct.Price)</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderDetails[0].Quantity)</td>
                    <td> @Html.DisplayName($"{item.Discount?.PkDiscountCode}")</td>
                    <td> @Html.DisplayFor(modelItem => item.OrderTotal)</td>
                </tr>

                //subsequent lines only lists additional order items
                @for (var i = 1; i < item.OrderDetails.Count; i++)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> @Html.DisplayFor(modelItem=>item.OrderDetails[i].FkSku.FKproduct.Name)</td>
                        <td> @Html.DisplayFor(modelItem=>item.OrderDetails[i].FkSku.Size)</td>
                        <td> @Html.DisplayFor(modelItem=>item.OrderDetails[i].FkSku.FKproduct.Price)</td>
                        <td> @Html.DisplayFor(modelItem=>item.OrderDetails[i].Quantity)</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

